<div class="header">
    <a [routerLink]="['/']">
    <h1>Centre LUO</h1>
    </a>
</div>
<nav class="navbar bg-white">
    <ul class="main-menu">
        <li class="menu-item"><a [routerLink]="['/']">Home</a></li>
        <li>|</li>
        <li class="menu-item"><a [routerLink]="['/pret-a-porter']">Prêt-à-porter</a></li>
        <li>|</li>
        <li class="menu-item"><a [routerLink]="['/coiffure']">Coiffure</a></li>
        <li>|</li>
        <li class="menu-item"><a [routerLink]="['/esthetique']">Esthétique</a></li>
        <li>|</li>
        <li class="menu-item"><a [routerLink]="['/contacts']">Contactez-nous</a></li>
    </ul>
</nav>