<div class="welcome-banner">
    Bienvenue au centre LUO, votre centre de beauté et de mode à Tahiti !
</div>
<h1>Description</h1>
<p>
    Notre centre est un lieu dédié à la beauté et au style, où chaque visiteur peut profiter d’une expérience complète de bien-être et de mode. En rez-de-chaussée, un salon de coiffure et d'esthétique accueille les clients pour des soins personnalisés et des moments de détente. À l’étage, une boutique élégante propose des collections de prêt-à-porter et des tenues de mariage, idéales pour sublimer chaque occasion spéciale.
</p>
<p>
Duis tincidunt laoreet nisl, sed finibus risus maximus id. Fusce placerat dui ut tempus rhoncus. Vivamus dignissim condimentum orci. Maecenas ac est tellus. Suspendisse enim nisl, elementum quis lorem ac, feugiat efficitur nisi. Curabitur in pharetra arcu, at venenatis quam. Praesent molestie neque nec quam hendrerit, sit amet dapibus orci tincidunt. Proin eu tempor urna. Vivamus tincidunt, nisl vel sollicitudin luctus, nisl neque mollis elit, et laoreet lacus neque sit amet orci.
</p>
<p>Etiam consequat in ante vel vestibulum. Cras ultrices ante a erat ullamcorper auctor. In nec dolor congue, blandit justo sed, tincidunt dolor. Pellentesque vel condimentum est. Morbi dignissim quam ante, eget convallis libero volutpat ac. Vestibulum iaculis sollicitudin mattis. Phasellus porta nunc consequat ex porta, sit amet gravida ipsum fermentum. Cras nec est quis diam venenatis ultrices. Cras vestibulum sem vel ullamcorper hendrerit. Donec quis finibus dolor. Sed dictum malesuada maximus. Vivamus ut purus ultricies, aliquam ante commodo, pellentesque risus.</p>